.sem-margin-icons{
    margin-bottom:0px;
}

.empresas-imgs{
    margin-top: -160px;
    background-color: #fbfbfb !important;
    //text-align: center;
}


.empresas-img2{
    margin-top: -16px;
    width: 100%;
}

.cards-pd{
    padding-top: 30px;
    //padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 40px
}

.icon-simulador{
    position: relative;
    margin: 0 auto;
    width:56px;
    height:56px;
    margin-top:-28px;
   // width:100%;
    //text-align: center;
    z-index:1;
}
.icon-simulador-radius{
    position: relative;
    margin: 0 auto;
    width:56px;
    height:56px;
    margin-top:-28px;
   // width:100%;
    //text-align: center;
    z-index:1;
    border-radius:50%;
}

.padding-texto-left{
    //padding:30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.gform_wrapper .gfield_required {
    color: $gold !important;
}