#exampleModal1 .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 55%;
    margin: 0 auto;
}
.tema-modal-leasing{
	.modal-dialog{
		max-width: 1250px !important;

	}
	
}


.modal-padding-form{
    padding:35px;
}


