#exampleModal1 .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 55%;
    margin: 0 auto;
}

.tema-modal-team{
	.modal-dialog{
		max-width: 1250px !important;
	}

    .div-bye-bye{
        display:none;
    }
    @media (min-width: 1193px) { 
        .div-bye-bye{
            display:block;
        }
     }
}


