.carreira-bg{
    //background-color: #fbfbfb !important;
    padding: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    //z-index: 999;
}
.formulario-recru{
    padding:40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:white;
}

.formulario-posi{
    background-color: #fbfbfb !important;
    margin-top: -180px;
    border-radius: 10px;
}

.icon-simulador-recru{
    position: relative;
    margin: 0 auto;
    width: 65px;
    height: 65px;
    margin-top: -73px;
   // width:100%;
    //text-align: center;
    z-index:1;
}