// Pagina seguros
.seguros-theme {
	.wp-block-cover__image-background {
		border-radius: 5px;
	}
	.gform_wrapper.gravity-theme .gform_footer input {
		margin-bottom: 8px;
		background-color: $gold;
		border: 1px solid $gold;
		border-radius: 5px;
		font-weight: 500;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.padding-white {
		padding: 30px;
		color: white;
	}
}






