.header-blue-lindo{
    padding-top: 100px;
    background-size: auto,contain;
    background-color: $black;
    background-repeat: no-repeat;
    background-position: 100% 20%;
    padding-bottom: 50px;
    min-height: 230px;
}

.titulo-header-page{
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 103%;
    color: #fbfbfb;
}
