.h-100 {
	min-height: 100vh;
}
.h-90 {
	min-height: 90vh;
}
.h-80 {
	min-height: 80vh;
}

//Fonts
.softgrey {
	color: rgba(0, 0, 0, 0.6);
}
.h2TitleHome {
	font-size: 42px;
	font-weight: 600;
	line-height: 103%;
	color: $black;
}
h3,
.h3 {
	color: #004a95;
	font-size: 28px;
	text-align: left;
	margin-bottom: 20px;
	font-weight: 600;
	line-height: 115%;
}

//thumbs
.partnerLogo {
	max-height: 60px;
	width: auto;
	margin: 0 auto;
}
.teamThumb {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 100%;
}
//bgs
.bgBlockCH {
	background-image: url(../assets/bg-cta.png);
	background-size: auto;
	background-color: #0d92d2;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 480px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}
.chLeft {
	img {
		width: 100%;
		height: 60vh;
		object-fit: cover;
		object-position: 70%;
	}
}
.bg-dark-blue {
	background-color: $black;
	background-image: linear-gradient(90deg, #131413 50%, #cd98331c);
}
.bgctaCc {
	//background-image: url('../assets/bg-cartao-gold.png');
	background-size: cover;
	position: relative;
	background-position: 39% 56%;
	background-color: $black;
	background-image: linear-gradient(90deg, #131413 50%, #cd98331c);
	img {
		max-width: 100%;
		//box-shadow: inset 50px 50px 100px 100px $black;
	}
}
@media screen and (max-width: 992px) {
	.bgctaCc {
		background-size: cover;
		background-repeat: no-repeat;
		//background-position: -160px -200px;
		background-color: $black;
		img.ccImgs {
			max-width: 100%;
			margin: 0 auto;
			margin-top: 40px;
		}
	}
}

.ctaSmallTitle {
	font-weight: 400;
	font-size: 16px;
	font-weight: 600;
	color: $gold;
	text-transform: uppercase;
}
.ctaTitle {
	color: #fbfbfb;
	font-size: 36px;
	margin-top: 25px;
	margin-bottom: 45px;
}
a {
	img {
		box-shadow: unset !important;
	}
}
.sem-ah {
	a {
		color: white !important;
		font-weight: 600 !important;
	}
	a:hover {
		text-decoration: none !important;
	}
}
.btn-cta {
	color: #fff !important;
	padding-bottom: 5px;
	font-size: 20px;
	&:hover {
		text-decoration: none !important;
		color: white;
		border-bottom: 2px solid white;
	}
}
.ctaTrans {
	background-image: url("../assets/transferencia.jpeg");
	background-position: center 28%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
	border-radius: 5px;
	margin-top: -60px;
}
.ctaConso {
	background-image: url("../assets/consolidado.jpg");
	background-position: center 28%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
	border-radius: 5px;
	margin-top: -60px;
}
//Serviços empressas
.bg-corp {
	background-image: url("../assets/bg-empresa.png");
	background-color: $black;
	background-blend-mode: multiply;
	color: #fff;
	.holderService {
		h2 {
			color: $gold;
			font-size: 32px;
			margin-left: 40px;
			margin-right: 40px;
		}
		.bigText {
			h3 {
				color: #fbfbfb !important;
				font-size: 42px;
				margin-top: 26px;
				margin-bottom: 26px;
				font-weight: 600;
				line-height: 115%;
				span {
					color: $gold;
				}
			}
			p {
				color: #ffffff;
				font-size: 22px;
				text-align: center;
				margin-bottom: 85px;
			}
		}
	}
	img {
		width: 50px;
		height: auto;
		text-align: left;
	}
	.serviceBox {
		h3 {
			color: #fbfbfb !important;
			margin-top: 23px;
			margin-bottom: 23px;
			font-size: 20px;
			font-weight: 600;
			line-height: 115%;
		}
	}
}
//seguros
.imgSeg {
	width: 100%;
	//min-height: 60vh;
	object-fit: cover;
	object-position: top left;
}
.gaImage {
	min-height: 60vh;
	background-image: url("../assets/gestao-arrendamento-maxfinance-crop.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	.checkOne {
		li {
			padding-left: 76px;
			padding-top: 20px;
			padding-bottom: 20px;
			max-width: 60%;
			height: auto;
			background-color: #fff;
			border-radius: 5px;
			margin-bottom: 5px;
			background-position: 10% 50%;

			@media screen and (max-width: 768px) {
				padding-left: 76px;
				padding-top: 1px;
				padding-bottom: 1px;
				max-width: 60%;
				height: auto;
				background-color: #fff;
				border-radius: 5px;
				margin-bottom: 5px;
				background-position: 10% 50%;
			}
		}
	}
}

//NL

.bgNL {
	text-align: center;
	//                           center                                            left                                         right
	background: /*url(../assets/Ellipse-10-blur.svg) no-repeat 80% 0%,*/ url(../assets/Ellipse-12-blur.svg)
			no-repeat 0% 100%,
		url(../assets/Ellipse-11-blur.svg) no-repeat 100% 100%;

	//background: url(../assets/background1.svg) no-repeat, 100%, 0%;
	background-color: $black;
	.NLtitle {
		font-size: 42px;
		line-height: 1.2;
		width: 65%;
		margin: 0 auto;
		color: #ffffff;
		font-weight: 600;
	}
	.subHeading {
		color: #ffffff;
		margin-top: 32px;
		margin-bottom: 32px;
		text-align: center;
	}
}

//Artigos
.smallTitleHome {
	color: $black;
	font-size: 16px;
	font-weight: 700;
	line-height: 103%;
	text-transform: uppercase;
}
.dateHome {
	font-size: 14px;
	color: $black;
	text-transform: uppercase;
}
.linkCat {
	font-weight: 700;
	color: $gold;
	font-size: 13px;
	&:hover {
		color: $gold !important;
		text-decoration: underline;
	}
}
h3 {
	font-size: 18.72px;
	font-weight: 600;
	line-height: 115%;
	color: $black;
	a {
		color: $black !important;
		&:hover {
			color: $gold !important;
			text-decoration: none;
		}
	}
}
.tema-cta {
	h4 {
		font-size: 28px;
		font-weight: 600;
		color: $black;
		a {
			color: $black;
			&:hover {
				color: $gold !important;
				text-decoration: none !important;
			}
		}
	}
}
h4 {
	font-size: 20px;
	font-weight: 600;
	color: $black;
	a {
		color: $black;
		&:hover {
			color: $gold !important;
			text-decoration: none !important;
		}
	}
}
.bg-cover {
	
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}	
.bg-cover2 {
	display: none;
}

@media (min-width:576px){
	.bg-cover2 {
		display: block;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}	
}

.catSelector {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	color: #fbfbfb;
	font-size: 14px;
	display: none;
	a:after {
		width: 0.35em;
		height: 0.35em;
		margin-left: 0.5em;
		border-right: 0.1em solid;
		border-top: 0.1em solid;
		transform: rotate(135deg);
		content: "";
	}
}


	.catSelector {
		display: block;
	}


.artigos {
	.dropdown-menu {
		color: black;
		background-color: #fff;
		white-space: nowrap;
		transition-timing-function: ease-in-out;
		transition-property: visibility, opacity;
		a {
			color: black;
			font-size: 14px;
			&:hover {
				color: black;
			}
		}
	}
	.dropdown-item:hover {
		color: #16181b;
		text-decoration: none;
		background-color: $gold_hover;
	}
}

//seguros
.secure {
	background-image: url("../assets/escudo-bg-seguros-1.png");
	background-repeat: no-repeat;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-position: 45% 0%;
}
.iconFixed {
	position: relative;
	bottom: -85px;
	width: 85px;
	left: 50%;
	margin-left: -42.5px;
	img {
		width: 85px;
		height: auto;
	}
}

//pagina sobre

.margem-nega {
	margin-top: -40px;
}

// imagens cover global

@media (min-width: 992px) {
	.min-height-600 {
		min-height: 600px;
	}
}

// Empresas

.gform_wrapper.gravity-theme .gfield_label{
	font-size:12px !important;
	text-transform: uppercase !important;
}

.gform_wrapper.gravity-theme .gfield.gfield--width-full{
	font-size:12px;
	text-transform: uppercase;
}