//transferencia

.margem-top-check3 {
	margin-top: 3rem;
}
.margem-top-check6 {
	margin-top: 6rem;
}
.margem-bot-check6 {
	margin-bottom: 6rem;
}
.max-width-bg-azul{
    max-width: 100% !important;
}
